CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
sources/
.vscode/
*.venv
__pycache__
/.ccache
.cline_storage/

# Patch control files.
.*.smrev

# Branch-specific flag overrides (see FLAGS.cmake).
/BRANCH_FLAGS.cmake

# Output directories.
/build/
/install/
/output-*/
/out/
